<!DOCTYPE html>
<html>
  <head>
    <title>Multiplayer Game</title>
    <link rel="stylesheet" href="game.css">
  </head>
  <body>
    <div id="container"></div>
    
    <ul id="log"></ul>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
      var socket = io();
    
      var NUM_ROWS = 5;
      var counter = 0;

      class initVals {
        static Character = 0;
        static RowCol = 1;
      }
      var friendlyCharacters;
      
      var log = document.getElementById('log');
      
      const container = document.getElementById("container");

      class Character {
        //build character obj from message
        //we expect the message to be in the form:
        //name,movement,xPos,yPos
        constructor(msg){
          var parse = msg.split(",");
          this.position = [parseInt(parse[2]), parseInt(parse[3]) ];
          this.name = parse[0];
          this.movement = parse[1];
        }
      }

      //recieve message that a turn was taken
      socket.on('turn', function(msg) {
          var item = document.createElement('li');
          item.textContent = msg;

          console.log("Got message: " + msg);
          var index = msg.split(" ")[2];

          var container = document.getElementById(index)
          console.log("got index = " + index);

          if(isFriendlyPos(index))
          {
            container.className = "grid-item-selected";
            highlightCharacterMoves(parseInt(index), 2);
          }
      });

      //get the positions of everything on the board
      socket.on('init', function(msg) {
          console.log("Initializing board:");
          var parse = msg.split(";");
          friendlyCharacters = loadCharacters(parse[initVals.Character]);
          
          var rowsCols = parse[initVals.RowCol].split(",");
          makeRows(rowsCols[0], rowsCols[1]);
          initCharPosVisual(friendlyCharacters);
      });

      function loadCharacters(msg)
      {
        var parse = msg.split("|");
        var characters = []
        
        for(var i = 1; i < parse.length; i++)
        {
          characters.push(new Character(parse[i]) );
        }
        return characters;
      }

      function doAction(event) {
          msg = "Action " + counter + " with id {" + this.id + "}";
          counter ++;
          socket.emit('turn', msg);
      }

      function highlightCharacterMoves(pos, numMoves)
      {
        var checkedPositions = [];
        showCharacterMoves(pos, numMoves, checkedPositions);
      }
      function showCharacterMoves(pos, numMoves, checkedPositions)
      {
        if(numMoves == 0 || checkedPositions.includes(pos) )
          return;

        checkedPositions.push(pos);

        console.log("Moving from pos " + pos);
        console.log("checkedPos is " + checkedPositions);
        var up = pos - NUM_ROWS;
        var down = pos + NUM_ROWS;
        var left = pos - 1;
        var right = pos + 1;

        if( !checkedPositions.includes(up) && up > 0)
        {
          document.getElementById(up).className = "grid-item-moveable";
          showCharacterMoves(up, numMoves-1, checkedPositions);
        }
        if(!checkedPositions.includes(down) && down < NUM_ROWS * NUM_ROWS)
        {
          document.getElementById(down).className = "grid-item-moveable";
          showCharacterMoves(down, numMoves-1, checkedPositions);
        }

        if(!checkedPositions.includes(left) && pos%NUM_ROWS != 0)
        {
          document.getElementById(left).className = "grid-item-moveable";
          showCharacterMoves(left, numMoves-1, checkedPositions);
        }

        if(!checkedPositions.includes(right) && right%(NUM_ROWS) != 0 && right < NUM_ROWS * NUM_ROWS)
        {
          document.getElementById(right).className = "grid-item-moveable";
          showCharacterMoves(right, numMoves-1, checkedPositions);
        }
      }


      /////****** HELPER FUNCTIONS
      function indexToPos(pos) {
        var y = pos[1] == 0 ? 0 : pos[1] -1;

        return ((pos[0]  * NUM_ROWS) + y).toString();
      }
      function isFriendlyPos(pos) 
      {
        for(var i = 0 ; i < friendlyCharacters.length; i++)
        {
          if(indexToPos(friendlyCharacters[i].position) == pos)
            return true;
        }
        return false;
      }
      ///// END OF HELPER 

      /////****** GUI INITIALIZATION
      function initCharPosVisual(characters) {
        for(var i = 0; i < characters.length; i++)
        {
          var index = indexToPos(characters[i].position);
          var container = document.getElementById(index);
          container.innerText = characters[i].name;
          container.className = "grid-item-friendly";
        }
      }
      // modified from https://stackoverflow.com/questions/57550082/creating-a-16x16-grid-using-javascript
      function makeRows(rows, cols) {
        container.style.setProperty('--grid-rows', rows);
        container.style.setProperty('--grid-cols', cols);
        for (c = 0; c < (rows * cols); c++) {
          let cell = document.createElement("div");
          cell.addEventListener("click", doAction, false);
          cell.setAttribute('id', c);
          cell.innerText = c;
          container.appendChild(cell).className = "grid-item";
        };
      };
      ////// END OF GUI INIT

      ////MAIN PROG
    </script>


  </body>
</html>